fastapi
uvicorn[standard]
opencv-python-headless
opencv-python
numpy
pandas
matplotlib
seaborn
torch
torchvision
ultralytics
ultralytics-thop
paddleocr==2.10.0
paddlepaddle==3.0.0
pydantic
python-multipart